<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fatihkilic.muminappandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuminAppAndroid">
        <activity
            android:name=".DayInfo.DayInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ZekatMatik.ZekatMatikActivity"
            android:exported="false" />
        <activity
            android:name=".BildirimActivity"
            android:exported="false" />
        <activity
            android:name=".Ayarlar.SoundSettingsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Ayarlar.SesSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Ayarlar.AyarlarActivity"
            android:exported="false" />
        <activity
            android:name=".EzanVaktiCoplete.EzanVaktiActivity"
            android:exported="true" />
        <activity
            android:name=".Ilceler.IlcelerActivity"
            android:exported="true" />
        <activity
            android:name=".Sehirler.SehirlerActivity"
            android:exported="true" />
        <activity
            android:name=".Ulkeler.KonumActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Ayarlar.Receiver.EzanVaktiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.ImsakVaktiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.ImsakOncesiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.GunesBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.GunesOncesiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.OglenBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.OglenOncesiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.IkindiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.IkindiOncesiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.AksamBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.AksamOncesiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.YatsiBildirimReceiver" />
        <receiver android:name=".Ayarlar.Receiver.YatsiOncesiBildirimReceiver" />
    </application>

</manifest>